body{
    height: 100vh;
}
main{
    height: 75vh;
    font-family: "Space Mono", monospace;
    padding: 4rem;
}
.img-wrapper{
    display: inline-block;
    width: 39%;
    margin-left: 10px;
}
.text-wrapper{
    display: inline-block;
    width: 55%;
    vertical-align: top;
    padding-left: 30px;

}

header h2{
    font-family: "Inconsolata", monospace;
    text-transform: uppercase;
    padding-top: 2.5rem;
    margin-left: 4rem;
}

header{
    height: 15vh;
}
.img-wrapper img{
    width: 70%;
    float: right;
    padding-right: 30px;
}
.text-wrapper h1{
    font-size: 45px;
    color: #333333;
    font-weight: 800;
}
.text-wrapper p{
    padding-top: 50px;
    line-height: 2;
    letter-spacing: 1.5;
    font-size: 18px;
    color: #333333;
    font-weight: 300;
    margin-bottom: 30px;
}
.text-wrapper a {
    text-decoration: none;
    background-color: black;
    color: #b3b0b0;
    padding: 10px;
    font-size: 13px;

}
footer{
    height: 10vh;
    text-align: center;
    color: #8b8989;
    font-family: "Space Mono", monospace;
    font-size: 15px;
    
}

@media (min-width: 375px) and (max-width: 760px) {
    header {
        width: 100%;
        height: 100px;
    }
    main {
        width: 100%;
        height: 800px;
        padding: 10px;
    }
    header h2 {
        
        text-align: center;
        margin-left: 0px;

    }
    .img-wrapper {
        display: block;
        width: 100%;
        padding-left: 10px;
        margin: 0;
        margin-bottom: 2rem;
        height: 300px;
    }
    .img-wrapper img{
        text-align: center;
        position: relative;
        width: 100%;
        padding: 10px;
        
    }
    .text-wrapper {
        display: block;
        width: 100%;
        padding: 0;
        margin-top: 10px;
    }
    .text-wrapper h1{
        text-align: justify;
        display: justify;
        padding: 2rem;

    }
    .text-wrapper p{
        text-align: justify;
        padding: 0 2rem 2rem 2rem;
    }
    .text-wrapper a{
       margin-left: 35%;
        
    }
    
    footer p {
        position: sticky;
        margin-top: 5rem;
    }
    
    

}